

<!-- The sidebar -->
<div class="sidebar">
    <a  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
    <!-- <a  routerLink="/test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Tests</a> -->
    <a  routerLink="/starships" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Starships</a>
    <a  routerLink="/people" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >People</a>
    <a  routerLink="/planets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Planets</a>
</div>

<!-- Page content -->
<div class="content">
  <!-- <router-outlet></router-outlet> -->
<router-outlet #gamesRouterOutlet="outlet"></router-outlet>
</div>