<div class="card">
    <div class="title">
        <div #titleRef>
            <ng-content select="[title]"></ng-content>
        </div>
        <ng-container *ngIf="!titleRef.hasChildNodes()">
            Default title
        </ng-container>
    </div>

    <div class="subtitle">
        <div #subtitleRef>
            <ng-content select="[subtitle]"></ng-content>
        </div>
        <ng-container *ngIf="!subtitleRef.hasChildNodes()">
            Default subtitle
        </ng-container>
    </div>

    <div #contentRef>
        <ng-content select="[content]"></ng-content>
    </div>
    <ng-container *ngIf="!contentRef.hasChildNodes()">
        Default content
    </ng-container>

    <div #actionsRef class="actions">
        <ng-content select="[actions]"></ng-content>
    </div>
    <ng-container *ngIf="!actionsRef.hasChildNodes()">
        Default actions
    </ng-container>

    
</div>
